@font-face {
    font-family: fira-sans;
    src: url(FiraSans-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: fira-sans-condensed;
    src: url(FiraSansCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: fira-sans-condensed, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #333;
}

h1 {
    font-family: fira-sans, sans-serif;
    font-weight: 900;
    font-size: 8em;
    font-variant: small-caps;
    line-height: 0.7em;
    text-align: right;
    letter-spacing: -5px;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

p {
    margin-left: 10px;
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 6em;
    }
}